.title {
    margin: 10px 0;
}

.signin {
    width: 470px;
}
  

.buttons{

    display: flex;
    justify-content: space-around;
}

.admin-link {
    position: absolute;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    top: 70%;
    left: 70%;
}