.bg-car {
  
  width: 100%;
  height: 400px;
  z-index: 1;
  margin-bottom: -160px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.bgimg_home {
  width: 100%;
  height: 600px;
}

.home-container{
  padding: 5px;
}

/* .home {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
} */

.home_row {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: space-between;
  margin-bottom: -10px;
  background-color: transparent !important;
}

.home_row2 {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  margin-bottom: -10px;
}

.home_row3 {
  z-index: 1;
  padding: 0 15px;
  margin-bottom: 25px;
}

.home_row4{
  justify-content: space-between;
  display: flex;
  z-index: 1;
  padding-left: 15px;
  margin-bottom: 100px;
 
}


.cart-button{
  margin-top: 0;
  padding: 6px 20px;
  border-radius: 100px;
  /* height: 10px; */
  border: none;
  background-color: rgb(255, 153, 0);
  cursor: pointer;
}

.cart-button:hover{
  background-color: rgb(187, 114, 4);
  color: #fff;
}


